@use "./_partials/normalisation";
@use "./_partials/site-normalisation";
@use "./_partials/queries";
@use "./_partials/brand-variables" as bv;

// -------------components------------
@use "./_components/top-nav";
@use "./_components/btn" as btn;

// -------------pages-----------------
@use "./_pages/splash.scss";
@use "./_pages/about.scss";
@use "./_pages/more-me.scss";
@use "./_pages/contact.scss";

// -------------general rules------------
a {
  text-decoration: none;
  color: bv.$dark-color;

  &:hover {
    color: bv.$primary-color;
  }
}

.grid-12-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

// ---------------------------------------------Body----------------------------------------------
.body-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto calc(100vh - var(--first-row-height));
  color: bv.$dark-color;
  @include bv.font-stack;
}

// ------------------------------------------Main------------------------------------------------
main {
  grid-column: span 12;
  height: 100%;
  overflow: auto; //scrolls if overflow
}

// -------------------------------Section-------------------------------------------
section {
  height: 100%;
  row-gap: 0.5em;
}
