@use "./_partials/normalisation";
@use "./_partials/site-normalisation";
@use "./_partials/queries";
@use "./_partials/brand-variables" as bv;

// -------------components------------
@use "./_components/top-nav";
@use "./_components/body-main";

// -------------pages-----------------
@use "./_pages/splash.scss";
@use "./_pages/about.scss";
@use "./_pages/work.scss";
@use "./_pages/more-me.scss";
@use "./_pages/contact.scss";

// -------------general rules------------
a {
  text-decoration: none;
  color: bv.$dark-color;

  &:hover {
    color: bv.$primary-color;
  }
}

.grid-12-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
