@use "./_partials/queries";
@use "./_partials/normalisation";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
// -------------variables------------
// colours
$primary-color: #953297;
$secondary-color: #bfbbbd;
$dark-color: #191919;
$light-color: #dbd7d9;

// font
$font-stack: "Heebo", sans-serif;

.body-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;
  font-family: $font-stack;
  color: $dark-color;
}

.top-nav {
  grid-column: span 12;
  overflow: hidden;

  a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: $dark-color;

    &.top-nav__link--active {
      color: $primary-color;
    }

    &.top-nav__icon {
      display: none;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }

  @include queries.phone {
    grid-column: span 12;

    // displaying the burger menu and hidding everything except the logo/home a
    a {
      // &:not(:first-child) {
      //   display: none;
      // }

      display: none;

      &.top-nav__icon {
        float: right;
        display: block;
      }
    }

    &.responsive {
      position: relative;

      a {
        float: none;
        display: block;
        text-align: left;

        &.top-nav__icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}

main {
  grid-column: span 12;
  overflow: auto; //scrolls if overflow
}

section {
  height: 100vh;
  // border: 1px solid black;
  padding: 0 10px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;

  .section__img-wrapper {
    grid-column: 2 / span 10;
    display: flex;
    justify-content: center;
    padding: 1.5em;
  }

  .section__img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
  }

  .section__title {
    grid-column: 3 / span 8;
    font-size: 1.75em;
  }
}

footer {
  background-color: blue;
  grid-column: span 12;
  padding: 10px;
}
