@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// button
.btn {
  max-height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
  color: #fff;
  background: bv.$primary-color;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  // control the transition eg to hover
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #fff;
    background: bv.$dark-color;
  }
}

@mixin btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
