@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// ---------------------------------------------Body----------------------------------------------
.body-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: auto calc(100vh - var(--first-row-height));
  // new
  grid-template-rows: auto 1fr;
  color: bv.$dark-color;
  @include bv.font-stack;
  padding-top: 50px;

  @include queries.phone {
    &.menu-open {
      padding-top: 0;
    }
  }
}

// ------------------------------------------Main------------------------------------------------
main {
  grid-column: span 12;
  // height: 100%;
  overflow: auto;
  //scrolls if overflow
}

// -------------------------------Section-------------------------------------------
section {
  // height: 100%;
  //new
  height: 100vh;
  row-gap: 0.5em;
}
