@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// ---------------------------------------------Body----------------------------------------------
.body-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  color: bv.$dark-color;
  @include bv.font-stack;
  @include queries.phone {
    &.menu-open {
      padding-top: 0;
    }
  }
}

// ------------------------------------------Main------------------------------------------------
main {
  grid-column: span 12;
  overflow: auto;
}

// -------------------------------Section-------------------------------------------
section {
  border: red solid 1px;
  height: 100vh;
  padding-top: 50px;
  row-gap: 0.5em;
}
