@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.button {
  @include bv.font--primary(500);
  background-color: bv.$primary-color-dark;
  align-items: center;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }

  &:hover {
    outline: 0;

    &:after {
      transform: translate(0, 0);
    }
  }

  &:active {
    background-color: bv.$secondary-color;
    outline: 0;
  }

  @include q.tablet {
    min-width: 170px;
    padding: 0 40px;
  }

  @include q.laptop {
    min-width: 200px;
    padding: 0 40px;
  }
}
