@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem;
  row-gap: 2em;
  position: relative;

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.75rem;
  }

  &_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &_bodyContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 2.5rem;
    width: 90%;
    margin: auto;
  }

  @include q.laptop {
    row-gap: 5em;

    &_body {
      row-gap: 2rem;
    }
  }

  @include q.tablet {
    position: static;

    &_body {
      position: static;
      top: auto;
      transform: none;
    }

    &_bodyContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      row-gap: 1rem;
    }
  }

  @include q.phone {
    row-gap: 1em;
  }
}
