@use "../../scss/partials/queries" as q;
@use "../../scss/partials/brand-variables" as bv;

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 20vh;
  padding: 2.5rem 2rem 2rem 2rem;
  @include bv.font--primary(400);

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
      font-size: 3.5rem;
      text-align: center;
    }
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3.5rem;
    padding: 0 2rem;
  }

  &_skillScroll {
    width: 100%;
    margin: 0 2rem;
  }

  &_box {
    background: #fafafa;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
    background-color: bv.$secondary-color;

    & i {
      pointer-events: none;
      font-size: 75px;
      color: white;
      background-color: bv.$secondary-color;
    }
  }

  @include q.laptop {
    padding: 2rem 1rem 1rem 1rem;

    &_container {
      padding: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  @include q.tablet {
    padding: 1rem;
    min-height: 100%;

    &_container {
      padding: 1rem;
      margin: 1rem 0;
    }

    &_header h2 {
      font-size: 3.2rem;
    }
  }

  @include q.phone {
    &_header h2 {
      font-size: 2.5rem;
    }
  }
}
