@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.snapshot {
  @include n.grid-12;
  grid-template-rows: 0.05fr 1fr;
  // row-gap: 0.2em;

  &__title {
    grid-column: 2 / span 11;
    grid-row: 1;
    font-size: 1.5em;
  }

  &__wrapper {
    grid-column: 1 / span 12;
    grid-row: 2;
  }

  &__option {
    &__ul {
      list-style: none;
      padding: 0;
    }

    &__li {
      font-weight: 700;
      line-height: 1.5;
      font-size: 1.5em;
    }

    &-item {
      background-color: bv.$dark-color;
      color: #fff;
      text-align: center;
      padding-top: 1em;

      &--grey {
        background-color: bv.$secondary-color;
        color: bv.$dark-color;
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }

  //--phone media query---
  @include queries.phone {
    &__wrapper {
      &.swiper {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: bv.$primary-color;
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    &__title {
      font-size: 2.75em;
    }

    &__option {
      &__li {
        font-size: 2em;
      }
    }

    &__wrapper {
      &.swiper {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: bv.$primary-color;
    }
  }

  //--desktop media query---
  @include queries.desktop {
    &__title {
      font-size: 5em;
    }

    &__option {
      &__li {
        font-size: 1.25em;
      }
    }

    &__wrapper {
      grid-column: 2 / span 10;

      &.swiper {
        width: 100%;
        height: 350px;
      }
    }

    &__option-item--grey {
      background-color: bv.$secondary-color;
    }
  }
}
