@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.snapshot {
  @include n.grid-12;
  grid-template-rows: auto auto 1fr 0.25fr;

  &__title {
    grid-column: 2 / span 11;
    grid-row: 2;
    font-size: 1.8em;
  }

  &__wrapper {
    grid-column: 1 / span 12;
    grid-row: 3;
    align-self: center;
    &.swiper {
      width: 300px;
      height: 300px;
    }
  }

  .swiper-button {
    &-prev {
      color: bv.$secondary-color;
    }
    &-next {
      color: bv.$primary-color;
    }
  }

  &__option {
    &__ul {
      list-style: none;
      padding: 0;
    }

    &__li {
      // margin: 0;
      font-weight: 700;
    }

    &-item {
      background-color: bv.$light-color;
      // display: flex;
      // height: 200px;
      // width: 100%;
      text-align: center;

      &--1 {
        // grid-row: 4 / span 5;
      }
      &--2 {
        background-color: bv.$dark-color;
        color: #fff;
      }
      &--3 {
        // margin-bottom: 1em;
      }
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    &__title {
      font-size: 2.75em;
    }

    &__wrapper {
      &.swiper {
        width: 400px;
        height: 400px;
      }
    }
  }

  //--desktop media query---
  @include queries.desktop {
    grid-template-rows: repeat(12, 1fr);
    &__title {
      grid-row: 2;
      font-size: 5em;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      grid-column: 3 / span 8;
      grid-row: 5 / span 5;
      column-gap: 20px;
    }
  }
}
