@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.snapshot {
  @include n.grid-12;
  grid-template-rows: auto 1fr;
  row-gap: 2em;

  &__title {
    grid-column: 2 / span 11;
    grid-row: 1;
    font-size: 1.5em;
  }

  &__wrapper {
    grid-column: 1 / span 12;
    grid-row: 2;
  }

  &__option {
    &__ul {
      list-style: none;
      padding: 0;
    }

    &__li {
      font-weight: 700;
      line-height: 1.5;
    }

    &-item {
      background-color: bv.$dark-color;
      color: #fff;
      text-align: center;
    }
  }

  //--phone media query---
  @include queries.phone {
    &__wrapper {
      &.swiper {
        width: 80%;
        height: 60%;
      }
    }

    .swiper-button {
      &-prev {
        color: bv.$secondary-color;
      }
      &-next {
        color: bv.$primary-color;
      }
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    &__title {
      font-size: 2.75em;
      align-content: center;
    }

    &__wrapper {
      &.swiper {
        width: 80%;
        height: 60%;
      }
    }

    .swiper-button {
      &-prev {
        color: bv.$secondary-color;
      }
      &-next {
        color: bv.$primary-color;
      }
    }
  }

  //--desktop media query---
  @include queries.desktop {
    &__title {
      font-size: 5em;
    }

    &__wrapper {
      grid-column: 2 / span 10;

      &.swiper {
        width: 100%;
        height: 250px;
      }
    }

    &__option-item--grey {
      background-color: bv.$secondary-color;
    }
  }
}
