@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// -------------components------------
@use "../_components/btn" as btn;

.more {
  @include n.grid-12;
  grid-template-rows: auto auto 1fr repeat(5, 1fr);

  &__title {
    grid-column: 2 / span 11;
    grid-row: 2;
    font-size: 1.5em;
  }

  &__option {
    &-item {
      grid-column: 2 / span 10;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      margin-bottom: 1em;
      padding: 0.75;

      &--1 {
        grid-row: 3 / span 3;
      }
      &--2 {
        grid-row: 6 / span 3;
      }
      &--3 {
        grid-row: 9 / span 3;
      }
    }

    &-h4 {
      margin: 0 0 0.25em 0;

      > span {
        color: bv.$primary-color;
      }
    }
  }

  &__btn-wrapper {
    @include btn.btn__wrapper;
    grid-column: 1 / span 12;
    grid-row: 12;
  }

  &__btn {
    @extend btn, .btn !optional;
    text-decoration: none;
    align-self: flex-start;
    margin: 2em 0;
  }

  //--tablet media query---
  @include queries.large-phone {
    grid-template-rows: repeat(12, 1fr);
    // row-gap: 6em;

    &__title {
      grid-row: 2;
      font-size: 2.75em;
      align-self: flex-start;
    }

    &__option {
      &-item {
        &--1 {
          grid-row: 4;
        }
        &--2 {
          grid-row: 6;
        }
        &--3 {
          grid-row: 8;
        }
      }
    }
  }

  //--desktop media query---
  @include queries.desktop {
    &__title {
      font-size: 5em;
    }

    &__option {
      &-h4 {
        font-size: 2em;
      }
    }
  }
}
