@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.more {
  overflow: auto; //scrolls if overflow
  @include n.grid-12;

  &__title {
    grid-column: 2 / span 10;
    grid-row: 2;
    margin: 0;
    font-size: 1.8em;
  }

  &__option {
    &-item {
      grid-column: 2 / span 10;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      margin-bottom: 1em;
      padding: 0.75;

      &--1 {
        grid-row: 4 / span 5;
      }
      &--2 {
        grid-row: 9 / span 4;
      }
      &--3 {
        grid-row: 13 / span 5;
      }
    }

    &-h4 {
      margin: 0 0 0.25em 0;
      font-size: 1.5em;
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    grid-template-rows: 1fr 0.25fr repeat(2, 1fr) 0.5fr repeat(2, 1fr) 0.5fr repeat(
        3,
        1fr
      );

    &__title {
      align-content: center;
      grid-row: 1;
      font-size: 2.75em;
    }

    &__option {
      &-item {
        margin-bottom: 0em;
        &--1 {
          grid-row: 3 / span 2;
        }
        &--2 {
          grid-row: 6 / span 2;
        }
        &--3 {
          grid-row: 9 / span 2;
        }
      }
    }
  }

  //--desktop media query---
  @include queries.desktop {
    grid-template-rows:
      repeat(2, 1fr) 0.25fr repeat(2, 1fr) 0.5fr repeat(2, 1fr)
      0.5fr repeat(3, 1fr);

    &__title {
      font-size: 5em;
      grid-row: 2;
    }

    &__option {
      &-h4 {
        font-size: 2em;
      }
      &-item {
        &--1 {
          grid-row: 4 / span 2;
        }
        &--2 {
          grid-row: 7 / span 2;
        }
        &--3 {
          grid-row: 10 / span 2;
        }
      }
    }
  }
}
