@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// -------------components------------
@use "../_components/btn" as btn;

// -------------------------------------------------Splash Section--------------------------------
.splash {
  @include n.grid-12;
  grid-template-rows: auto 0.1fr repeat(3, 1fr);

  &__img-wrapper {
    grid-column: 2 / span 10;
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  &__img {
    width: 100%;
    max-width: 50%;
    border-radius: 50%;
  }

  &__title {
    grid-column: 3 / span 8;
    grid-row: 3;
    font-size: 2em;
    text-align: center;
    margin: 0;

    & span {
      color: bv.$primary-color;
    }
  }

  &__h3 {
    text-align: center;
    grid-column: 3 / span 8;
    grid-row: 4;
    font-size: 1em;
    margin: 0;
  }

  &__btn-wrapper {
    @include btn.btn__wrapper;
    grid-row: 5;
    grid-column: 1 / span 12;
    justify-content: center;
  }

  &__btn {
    @extend btn, .btn !optional;
    text-decoration: none;
    align-self: flex-start;
  }

  //--tablet media query---
  @include queries.large-phone {
    row-gap: 1em;

    &__title {
      font-size: 2.6em;
    }

    &__h3 {
      font-size: 1.5em;
    }
  }

  //--desktop media query---
  @include queries.desktop {
    grid-template-rows: auto 0.1fr repeat(3, 0.5fr) 0.5fr;
    &__img {
      max-width: 100%;
      border-radius: 0%;
    }

    &__img-wrapper {
      grid-row: 3 / span 3;
      grid-column: 8 / span 4;
    }

    &__title {
      grid-row: 3 / span 2;
      grid-column: 2 / span 5;
      font-size: 4em;
      align-self: center;
    }

    &__h3 {
      grid-row: 5;
      grid-column: 2 / span 5;
      font-size: 2em;
    }

    &__btn-wrapper {
      grid-row: 6;
      grid-column: 2 / span 5;
    }
  }
}
