@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.work {
  @include n.grid-12;
  grid-template-rows: auto 1fr;
  row-gap: 1em;

  &__title {
    grid-column: 2 / span 11;
    grid-row: 1;
    font-size: 1.5em;
    margin: 0.35em 0 0 0;
  }

  &__wrapper {
    grid-column: 1 / span 12;
    grid-row: 2;
    // align-self: center;
  }

  .swiper {
    max-width: 320px;
  }

  .mySwiper2 {
    width: 100%;
    min-height: min-content;
  }

  .slide-label {
    padding: 0.5em;
  }

  .mySwiper {
    // height: 30%;
    // padding: 0.5em 0;
  }

  .mySwiper .swiper-slide {
    opacity: 0.3;
  }

  .swiper-slide {
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide > img {
    width: 100%;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-button {
    &-prev-2 {
      color: bv.$secondary-color;
    }

    &-next-2 {
      color: bv.$primary-color;
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    &__title {
      font-size: 2.75em;
    }

    .swiper {
      max-width: 90%;
    }

    // .mySwiper2 {
    //   width: 300px;
    //   height: 300px;
    // }
  }

  //--desktop media query---
  @include queries.desktop {
    grid-template-rows: auto 1fr;
    &__title {
      grid-row: 1;
      font-size: 5em;
      margin: 0;
    }

    &__wrapper {
      grid-row: 2;
    }

    .swiper {
      width: 500px;
    }

    .mySwiper2 {
      width: 800px;
      height: 400px;
    }
  }
}
