@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

.work {
  &__title {
    grid-column: 2 / span 10;
    grid-row: 2;
    margin: 0;
    font-size: 1.8em;
  }
  &__1 {
    grid-row: 3;
    background-color: red;
  }
  &__2 {
    grid-row: 4;
    background-color: blue;
  }
  &__3 {
    grid-row: 5;
    background-color: green;
  }
}
