@use "../_partials/site-normalisation" as n;
@use "../_partials/brand-variables" as bv;
@use "../_partials/queries";

// -------------components------------
@use "../_components/btn" as btn;

.work {
  @include n.grid-12;
  grid-template-rows: auto 1fr;

  &__title {
    grid-column: 2 / span 11;
    grid-row: 1;
    font-size: 1.5em;
    margin: 0.35em 0 0 0;
  }

  &__wrapper {
    grid-column: 1 / span 12;
    grid-row: 2;
  }

  .swiper {
    max-width: 320px;
  }

  .mySwiper2 {
    max-width: 320px;
    height: min-content;
  }

  .mySwiper {
    width: 35%;
  }

  .slide-label {
    padding: 0.5em;
    margin: 1em;
  }

  .slide-label > span {
    font-weight: 700;
    display: block;
  }

  .mySwiper .swiper-slide {
    opacity: 0.3;
  }

  .swiper-slide > img {
    width: 100%;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  &__btn-wrapper {
    @include btn.btn__wrapper;
    justify-content: center;
    margin-top: 1em;
    column-gap: 1em;
  }

  &__btn {
    @extend btn, .btn !optional;
    text-decoration: none;
    width: 10%;

    &--grey {
      background: bv.$secondary-color;
      color: bv.$dark-color;
    }
  }

  //--tablet media query---
  @include queries.large-phone {
    &__title {
      font-size: 2.75em;
    }

    .swiper {
      max-width: 100%;
    }
  }

  //--desktop media query---
  @include queries.desktop {
    &__title {
      font-size: 5em;
      margin: 0;
    }

    .mySwiper {
      max-width: 1000px;
    }

    .mySwiper2 {
      max-width: 1000px;
      height: 600px;
    }

    .mySwiper {
      width: 15%;
    }

    .swiper-slide > img {
      width: 100%;
      max-height: 450px;
    }
  }
}
