@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.about {
  min-height: 100vh;
  position: relative;

  &_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 5rem;
    height: 100%;
  }

  &_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    row-gap: 3em;
    flex: 0.7;
    width: 100%;
    height: fit-content;

    & p {
      color: bv.$dark-color;
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &_option {
    &_item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      row-gap: 0.75em;
    }

    &_h4 {
      margin: 0 0 0.25em 0;

      > span {
        color: bv.$primary-color;
      }
    }
  }

  @include q.tablet {
    &_body {
      padding: 5rem;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
    }

    &_description {
      flex: 0.6;
      padding: 20px;
    }
  }

  @include q.phone {
    &_body {
      padding: 0;
    }
  }
}
