// partials
@use "./scss/partials/brand-variables" as bv;
@use "./scss/partials/queries" as q;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  @include bv.font--primary(400);
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: bv.$dark-color;
  margin-bottom: 1em;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-size: 1.75rem;
}

@media (min-width: 901px) and (max-width: 1380px) {
  h2 {
    font-size: 3.3rem;
    margin-bottom: 30px;
  }
}

@include q.tablet {
  h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

@include q.phone {
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.95rem;
  }
}

/* scrollBar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: bv.$dark-color;
}
::-webkit-scrollbar-thumb {
  background: bv.$dark-color;
  border-radius: 10px;
  transition: 0.3s;
}

@include q.phone {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  body {
    overflow-x: hidden;
  }
}
