// based on bootstrap breakpoints

$xs: 0;
$sm: 576px; // phone
$m: 768px; // table
$l: 992px; // large device like laptops
$xl: 1200px; // desktops
$xxl: 1400px; //large desktops

@mixin phone {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: ($m)) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: ($l)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: ($xl)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: ($xxl)) {
    @content;
  }
}
