@use "../../scss/partials/brand-variables" as bv;
@use "../../scss/partials/queries" as q;

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include bv.font--primary(400);

  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  // Left side
  &_container_left {
    flex: 35%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &_content {
      margin: 3rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &_social {
    font-size: 35px;
    margin: 0 1rem;
    transition: transform 0.5s;
    color: bv.$primary-color-dark;

    &:hover {
      transform: scale(1.2);
    }
  }

  // image
  &_img {
    --img-size: 400px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    width: var(--img-size);
    height: var(--img-size);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    z-index: 1;
  }

  // Right side
  &_container_right {
    flex: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eaeaea;
      z-index: -1;
    }

    &_content {
      width: 45%;
      margin-right: 7rem;
      font-style: normal;
    }

    & h6 {
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: -0.85rem;
      opacity: 0.8;
    }

    & h1 {
      font-weight: 600;
      font-size: 3.25rem;
      line-height: 110%;
      margin: 1rem 0;
    }

    & p {
      margin-top: 1.45rem;
      font-weight: 500;
      font-size: 1.15rem;
      opacity: 0.7;
    }

    &_buttonContainer {
      margin-top: 2rem;
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @include q.laptop {
    &_img {
      --img-size: 350px;
    }

    &_container_left_content {
      margin: 2rem;
    }

    &_container_right {
      &_content {
        & h6 {
          font-size: 1.1rem;
        }

        & h1 {
          font-size: 3rem;
        }

        & p {
          margin-top: 0.3rem;
          margin-bottom: 1rem;
          font-weight: 500;
          font-size: 1rem;
        }
      }

      &_buttonContainer {
        margin-top: 1rem;
        flex-direction: column;
        width: 200px;
        height: 120px;
        align-items: flex-start;
      }
    }
  }

  @include q.tablet {
    &_img {
      --img-size: 300px;
    }

    &_social {
      font-size: 30px;
    }

    &_container_right {
      &_content {
        width: 60%;
        margin-top: 10%;
        margin-right: 6%;
      }

      &_buttonContainer {
        margin-top: 1rem;
        flex-direction: column;
        width: 200px;
        height: 120px;
        align-items: flex-start;
      }
    }
  }

  @include q.phone {
    &_container {
      flex-direction: column;
      justify-content: space-between;
    }

    &_img {
      --img-size: 200px;
      left: 50%;
      top: 30%;
      border: 8px solid #eaeaea;
      transform: translate(-50%, -50%);
    }

    &_container_left {
      flex: initial;
      width: 100%;
      height: 30%;
    }

    &_social {
      display: none;
    }

    &_container_right {
      box-sizing: border-box;
      padding: 0 2rem;
      flex: initial;
      height: 70%;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #eaeaea;
        z-index: -1;
      }

      &_content {
        margin-top: 20%;
        margin-right: initial;
        width: 100%;

        & h6 {
          font-size: 1rem;
          text-align: center;
        }

        & h1 {
          font-size: 2.5rem;
          text-align: center;
        }

        & p {
          font-size: 0.95rem;
          text-align: center;
          margin: 0 auto;
          width: 90%;
        }
      }

      &_buttonContainer {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        & button {
          margin-top: -20%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &_container_content {
      margin-top: 35%;
    }
  }

  @media (max-width: 370px) {
    &_container_content {
      margin-top: 60%;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing_img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}
